<!-- footer.component.html -->
<footer>
    <div class="footer-content">
      <div class="footer-section about">
        <h6>About Us</h6>
        <p>FreeToyz is a HUB platform for parents to exchange toys and promote sustainable play.</p>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 FreeToyz.</p>
        <p> Powered By Fraktur for CDA Examen </p>
      </div>
      <div class="footer-section contact">
        <h6>Contact Us</h6>
        <p>Email: info@toyhub.com</p>
        <p>Phone: +123 456 7890</p>
      </div>
    </div>
  </footer>
