<header>
  <nav>
    <a routerLink="/" class="logo">
      <img src="./assets/upload/LogoDetourer.PNG" alt="FreeToyz Logo" />
    </a>
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/how-it-work">How It Works ?!</a>
      </li>
      <li class="nav-item">
        <a routerLink="/toys">Toys</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/toys-form">Toys Form</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a routerLink="/profile">Profile</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/user-profil-edit">Edit Profile</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a routerLink="/register" class="btn btn-sm btn-primary">Register</a>
        <a routerLink="/login" class="btn btn-sm btn-primary">Login</a>
      </li>
    </ul>
  </nav>
</header>
