<h3>How It Works ?!</h3>
<div class="container">

  
<div class="how-it-works"  >
    <div class="SignUp" >
    <h5>1. Create your profile to join the FreeToyz User Community !</h5>
   <app-registration></app-registration>   
</div>

</div>

<div class="Explore">
  <h5>2. Explore and LIKE variety of available toys or add your own !<br><br></h5>
<app-navbar-search-toy></app-navbar-search-toy>
<app-carousel-accueil></app-carousel-accueil>
</div>

<div class="Connect">
<h5>3. Connect with FreeToyz User Message to kickstart the toy exchange !</h5><br><br>
<p>"Our internal messaging system is a thoughtful extension of our commitment to facilitating toy exchanges, providing an integrated, secure, and intuitive communication platform. Exchange messages with confidence, connect with fellow enthusiasts, and ensure that each toy transition is a pleasant and hassle-free experience."</p>
<app-chat></app-chat>
</div>

</div>







  
