 <!-- navbar.component.html -->
<nav class="navbar">
  <ul>
    <li><a routerLink="/" (click)="showToys('educatif')">Toy éducatifs / sensoriels</a></li>
    <li><a routerLink="/" (click)="showToys('bois')">Toy en bois</a></li>
    <li><a routerLink="/" (click)="showToys('société')">Toy de société</a></li>
      <li><a routerLink="/" (click)="showToys('artistiques')">Toy musicaux / artistiques</a></li>
      <li><a routerLink="/" (click)="showToys('sport')">Toy de plein air / sport</a></li>
      <li><a routerLink="/" (click)="showToys('electroniques')">Toy électroniques</a></li>
    <!-- Ajoute les autres liens avec les bonnes catégories -->
  </ul>

  <!-- Champ de recherche -->
  <div class="search-container">
    <input type="text" placeholder="Search toy or catégorie">
    <button class="button">Search</button>
  </div>
</nav>
